#coverContainer{
    height: 70vh;
    border-bottom:2px solid black;
}

#countryContainer{
    border-bottom:2px solid black;
}

#coverContainer .col-6{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#all-souvenirs{
  padding: 0px;
}

.categoryName{
  width: 100%;
  padding: 20px 0 20px 0;
}

.souvenir-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(18vw, 1fr));
    grid-auto-rows: minmax(18vw, 18vw);
    grid-auto-flow: dense;
}

.productSize{
  grid-row: span 1;
  grid-column: span 1;
}

.img-container{
    display:flex;
    width:15vw;
    height:15vw;
    margin:8px;
    justify-content: center;
    border: 1px solid black;
}

.img-fill{
    object-fit: contain;
    max-width: 100%;
}

.img-cover{
    max-width:70%;
    max-height:70%;
}
