#coverContainer{
    height: 70vh;
    border-bottom:2px solid black;
}

.souvenir-grid{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.img-container{
    display:flex;
    width:15vw;
    height:15vw;
    margin:8px;
    justify-content: center;
    border: 1px solid black;
}

.img-fill{
    object-fit: contain;
    max-width: 100%;    
}

.img-cover{
    object-fit:scale-down;
}

h2{
    width: 100%;
    margin-top: 40px;
    font-size: 40px;
}

p{
    font-size: 20px;
}

