#coverContainer{
    height: 70vh;
    border-bottom:2px solid black;
}

#countryContainer{
    border-bottom:2px solid black;
}

#coverContainer .col-6{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.img-container{
    display:flex;
    width:15vw;
    height:15vw;
    margin:8px;
    justify-content: center;
    border: 1px solid black;
}

.img-fill{
    object-fit: contain;
    max-width: 100%;
}

.img-cover{
    max-width:70%;
    max-height:70%;
}
