#cover {
  height: 100vh;
  background-color: red;
}

#logo_cover{
  width: 25vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

#main p {
  font-size: 1.5rem;
}

#main b{
  font-family: 'saint_regussemi_bold';
}

.spacer-small {
  height: 4rem;
  width: 100%;
}

.spacer-medium {
  height: 10rem;
  width: 100%;
}

.col-3{
  z-index: -1;
}

.spacer-big {
  height: 25rem;
  width: 100%;
}

.products-row{
  width:99vw;
}

.products_stripe {
  display: flex;
}

.collCard {
  width: 20vw;
  height: 20vw;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.thumbImg {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  align-self: center;
  -webkit-align-self: center;
}

/* souvenirs positions */
.souvenir-container{
  display: flex;
  height: 20vw;
}

.souvenir-container .collCard{
  position: absolute;
  padding: 4vw;;
}

.souvenir-img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  align-self: center;
  -webkit-align-self: center;
  transform: scale(1) rotate(0deg);
  transition: .3s;
}

.souvenir-img:hover{
  transform: scale(1.1) rotate(5deg);
}


#netherlands {
  left: 0vw;
  top: 10vw;
  transform: rotate(-8deg);
}

#usa {
  left: 15vw;
  top: 3vw;
  transform: rotate(10deg);
}

#italy {
  left: 35vw;
  top: -5vw;
  transform: rotate(-6deg);
}

#japan {
  left: 60vw;
  top: 0vw;
  transform: rotate(-4deg);
}

#germany {
  left: 80vw;
  top: 12vw;
  transform: rotate(7deg);
}

#india {
  left: 3vw;
  top: -10vw;
  transform: rotate(-12deg);
}

#australia {
  left: 19vw;
  top: -16vw;
  transform: rotate(7deg);
}

#brazil {
  left: 50vw;
  top: -15vw;
  transform: rotate(10deg);
}

#emirates {
  left: 73vw;
  top: -10vw;
  transform: rotate(5deg);
}

#canada {
  left: -1vw;
  top: -2vw;
  transform: rotate(-10deg);
}

#france {
  left: 17vw;
  top: 2vw;
  transform: rotate(-8deg);
}

#mexico {
  left: 37vw;
  top: -1vw;
  transform: rotate(-3deg);
}

#saudi {
  left: 56vw;
  top: 4vw;
  transform: rotate(-14deg);
}

#singapore {
  left: 72vw;
  top: -4vw;
  transform: rotate(5deg);
}

#spain {
  left: 7vw;
  top: 13vw;
}

#sweden {
  left: 30vw;
  top: 17vw;
  transform: rotate(7deg);
}

#uk {
  left: 78vw;
  top: 12vw;
  transform: rotate(10deg);
}

#carousel {
  height: 400px;
  overflow-y: hidden;
  border: 3px black solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.carousel-row{
  display: flex;
  justify-content: space-around;
}

.carousel-row .collCard{
  width: auto;
  flex-direction: column;
  text-align: center;
}

.carousel-row p{
  padding-bottom: 15px;
  font-family: 'saint_regussemi_bold';
}

#surf_the_catalog button{
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: 'saint_regussemi_bold';
  font-size: 2rem;
  border: none;
}
