#collections {
  margin: 0;
}

#collections .col-6 {
  height: 100vh;
  overflow-y: scroll;
  padding: 0;
}

.souvenir-grid{
    margin:20px 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
    grid-auto-rows: minmax(12vw, 12vw);
    grid-auto-flow: dense;
}

.thumbImg {
  object-fit: contain;
  max-width: auto;
  max-height: 100%;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

.small {
  grid-row: span 1;
  grid-column: span 1;
}

.medium {
  grid-row: span 2;
  grid-column: span 2;
}

.big {
  grid-row: span 2;
  grid-column: span 3;
}

.homeTitle, .homeIntroduction{
    background-color:red;
    padding:0;
}

.homeTitle{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index:999;
}

.homeIntroduction p{
    padding: 0 15px 10px 15px;
}

.homeTitle h2{
    margin:0;
    padding: 10px 15px;
}

.homeIntroduction:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}
