
.souvenir-grid{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.img-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between !important;
    flex-wrap: nowrap;
    width:10vw;
    height:11vw;
    margin:8px;
    justify-content: center;
    border: 1px solid black;
}

.img-fill{
    object-fit: contain;
    max-width: 100%;    
    max-height:85%;
}

p{
    font-size: 10px;
    line-height: 12px;
    background-color: white;
    margin:0 2px;
}

