@font-face {
    font-family: 'saint_regussemi_bold';
    src: url('../fonts/sonar_hubermann_-_saintregus-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sonar_hubermann_-_saintregus-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'saint_regusSBdCn';
    src: url('../fonts/sonar_hubermann_-_saintregus-semiboldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/sonar_hubermann_-_saintregus-semiboldcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'saint_regussemi_bold_expanded';
    src: url('../fonts/sonar_hubermann_-_saintregus-semiboldexpanded-webfont.woff2') format('woff2'),
         url('../fonts/sonar_hubermann_-_saintregus-semiboldexpanded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#navBar{
    padding:12px 15px;
    border-bottom: 3px solid black;
}

#logoNavBar{
    width: 7em;
}

.navLink{
    flex-grow:0;
}

.navLink a{
    font-family: 'Noto sans', 'sans-serif';
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#collections{
    margin:0;
}

#collections .col-6{
    height:100vh;
    overflow-y:scroll;
    padding: 0;
}

.souvenir-grid{
    margin:20px 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
    grid-auto-rows: minmax(12vw, 12vw);
    grid-auto-flow: dense;
}

.collCard{
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    overflow: hidden;
    cursor:pointer;
}

.thumbImg{
    object-fit: contain;
    max-width: auto;
    max-height: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }

.small{
    grid-row: span 1;
    grid-column: span 1;
    
  }
  
  .medium{
    grid-row: span 2;
    grid-column: span 2;
  }
  
  .big{
    grid-row: span 2;
    grid-column: span 3;
  }

  p{
    font-family: 'Noto sans', 'sans-serif';
    font-size: .8em;
    margin: 0px;
  }
  
  h3{
    font-family: 'Noto sans', 'sans-serif';
    font-weight: bold;
    font-size: 1em;
    margin: 0px;
  }

  h2{
    font-family: 'saint_regussemi_bold';
    font-weight: bold;
      margin-top:30px;
  }  

.homeIntroduction{
    background-color:red;
}

