@font-face {
    font-family: 'saint_regussemi_bold';
    src: url('../fonts/sonar_hubermann_-_saintregus-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sonar_hubermann_-_saintregus-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'saint_regusSBdCn';
    src: url('../fonts/sonar_hubermann_-_saintregus-semiboldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/sonar_hubermann_-_saintregus-semiboldcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'saint_regussemi_bold_expanded';
    src: url('../fonts/sonar_hubermann_-_saintregus-semiboldexpanded-webfont.woff2') format('woff2'),
         url('../fonts/sonar_hubermann_-_saintregus-semiboldexpanded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#navBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 12px 15px;
  background-color: white;
  border-bottom: 3px solid black;
}

#logoNavBar{
    width: 7rem;
}

.navLink {
  flex-grow: 0;
  display:flex;
  align-items:center;
}

.navLink a {
  font-family: 'Noto sans', 'sans-serif';
  font-weight: bold;
}

.collCard{
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    overflow: hidden;
    cursor:pointer;
}

  p{
    font-family: 'Noto sans', 'sans-serif';
    font-size: .8rem;
    margin: 0px;
  }

  h3{
    font-family: 'Noto sans', 'sans-serif';
    font-weight: bold;
    font-size: 1rem;
    margin: 0px;
  }

  h2{
    font-family: 'saint_regussemi_bold';
    color:white;
    font-weight: bold;
  }

  .scrollBarStyle::-webkit-scrollbar{
    width: 10px;
  	background-color: white;
  }

  .scrollBarStyle::-webkit-scrollbar-thumb {
  	background-color: black;
  }

  .scrollBarStyle::-webkit-scrollbar-track {
  	background-color: white;
    border: 1px solid black;
  }

  html::-webkit-scrollbar{
    display: none;
  }

.scrollBarStyle{
  transition: .3s;
}
